Source: metastudent
Section: science
Priority: optional
Maintainer: Tobias Hamp <hampt@rostlab.org>
Uploaders: Laszlo Kajan <lkajan@rostlab.org>
Build-Depends: debhelper (>=8~), python-support (>= 0.6), cdbs (>= 0.4.49), python (>= 2.6)
XS-Python-Version: >= 2.6
Standards-Version: 3.9.4

Package: metastudent
Architecture: all
Homepage: http://www.rostlab.org
#? libdata-stag-perl, libgo-perl, libipc-run-perl, libgraphviz-perl, libxml-perl, 
Depends: ${misc:Depends}, ${perl:Depends}, ${python:Depends}, python (>= 2.6), blast2, default-jre, perl
Description: predictor of gene ontology terms from protein sequence
 Metastudent predicts gene ontology (GO) terms for protein sequences 
 through homology. It first runs a single BLAST query for all targets
 against a custom BLAST database.This database contains sequences and 
 GO terms of previously annotated proteins.
 .
 The output is then used by three different base classifiers. They 
 calculate three separate sets of GO terms. Finally, a meta classifier 
 converts the three sets into one.
